@import "../../Assets/styles/shared-styles.scss";
.notification {
  width: to-rem(286);
  height: to-rem(70);
  border-radius: to-rem(5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: to-rem(25);
  &__text {
    color: color(White);
    h1 {
      font-size: to-rem(12);
      font-weight: 700;
    }
    p {
      font-size: to-rem(12);
      font-weight: 300;
    }
  }
  &__close {
    width: to-rem(30);
    position: relative;
    border-radius: 0 to-rem(5) to-rem(5) 0;
    height: 100%;
    z-index: 3;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.notification__success {
  background-color: color(DarkPastelGreen);
  .notification__close {
    background-color: color(ZelyonyGreen);
  }
}
.notification__error {
  background-color: color(BrightRed);
  .notification__close {
    background-color: color(DarkRed);
  }
}
