@import "../../Assets/styles/shared-styles.scss";
.button {
  background-color: color(White);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icon {
    margin-right: to-rem(11);
  }
}
