@import "../../Assets/styles/shared-styles.scss";

.responderSurveyQuestion {
  position: relative;
  box-shadow: 0px 0px 8px 0px #00000014;
  width: to-rem(916);
  min-height: to-rem(679);
  margin: to-rem(32) auto 0 auto;
  padding: to-rem(60 65 44 146);
  &__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: to-rem(58);
    background-color: color(AlabasterVariant);
    .buttons__wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: to-rem(66);
      width: to-rem(195);
      .button_cancel {
        width: to-rem(83);
        height: to-rem(33);
        margin-right: to-rem(24);

        button {
          border: to-rem(1) solid color(dodgerBule);
          color: color(dodgerBule);
          border-radius: to-rem(4);
        }
      }
      .button_submit {
        width: to-rem(69);
        height: to-rem(35);

        button {
          border: 0;
          background-color: color(dodgerBule);
          border-radius: to-rem(4);
          color: color(White);
        }
      }
    }
  }
}
