@import "../../Assets/styles/shared-styles.scss";

.logoutButton {
  display: flex;
  width: to-rem(206);
  height: to-rem(48);
  padding-left: to-rem(16);
  border: 1px solid color(BaliHai);
  align-items: center;
  color: color(licorice);
  background-color: none;
  opacity: 0;
  z-index: -10;
  svg {
    margin-right: to-rem(16);
  }
}

.showLogout {
  animation-name: showLogout;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showLogout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: color(White);
  }
}
