@import "../../Assets/styles/shared-styles.scss";

.surveyListResponder {
  width: to-rem(1104);
  // height: to-rem(760);
  box-shadow: 0px 0px 8px 0px #00000014;
  padding: to-rem(32 94 38 94);
  margin: 0 auto;
  &__heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: to-rem(29);
    h1 {
      font-size: to-rem(20);
      font-weight: 400;
    }
  }
  &__select {
    select {
      border: to-rem(1) solid color(chromiumBlue);
      border-radius: to-rem(4);
      padding: to-rem(10 16);
      color: color(chromiumBlue);
      font-size: to-rem(12);
    }
  }
  &__main {
    .header {
      display: grid;
      background-color: color(Solitude);
      height: to-rem(40);
      align-items: center;
      grid-template-columns: 60% 20% 20%;
      &__title {
        padding-left: to-rem(39);
      }
      &__status {
        margin: 0 auto;
      }
      &__actions {
        margin: 0 auto;
      }
    }
  }
}
