.mainContent {
  position: relative;
  .notification__wrapper {
    position: absolute;
    top: 20%;
    right: 0%;
  }
}
.hideNotification {
  animation: hideNotification;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.showNotification {
  display: block;
  animation: showNotification;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes showNotification {
  from {
    right: -50%;
  }
  to {
    right: 0%;
  }
}

@keyframes hideNotification {
  from {
    right: 0%;
  }
  to {
    right: -50%;
  }
}
