@import "../../Assets/styles/shared-styles.scss";

.moreActions {
  width: to-rem(206);
  border-radius: to-rem(3);
  border: to-rem(1) solid color(BaliHai);
  box-shadow: 0px 0px 8px 0px #00000014;
  background-color: color(White);
  z-index: -1;
  &__option {
    display: flex;
    align-items: center;
    padding-left: to-rem(18);
    height: to-rem(47);
    border-bottom: to-rem(0.4) solid color(Whisper);
    svg {
      path {
        fill: color(licorice);
      }
    }

    p {
      margin-left: to-rem(18);
    }
    &:hover {
      background-color: color(dodgerBule);

      svg {
        path {
          fill: color(white);
        }
      }
      p {
        color: color(white);
      }
    }
  }
  &__option:last-child {
    border-bottom: to-rem(0);
  }
}
