@import "../../../Assets/styles/shared-styles";

.tableData {
  padding: to-rem(13 0);
  height: to-rem(50);
  display: grid;
  align-items: center;
  grid-template-columns: 25% 15% 15% 15% 15% 15%;
  border: to-rem(1) solid rgba(176, 186, 201, 0.2);
  margin: to-rem(2 0);
  background-color: color(AlabasterVariant);
  &__main {
    .header {
      display: grid;
      background-color: color(Solitude);
      height: to-rem(40);
      align-items: center;
      grid-template-columns: 25% 15% 15% 15% 15% 15%;
      &__option1 {
        padding-left: to-rem(100);
      }
      &__option {
        margin: 0 auto;
      }
    }
  }
  &_question {
    padding-left: to-rem(39);
    border-right: to-rem(1) solid rgba(176, 186, 201, 0.2);

    h1 {
      font-size: to-rem(16);
      font-weight: 500;
      margin-bottom: to-rem(10);
    }
    p {
      font-size: to-rem(13);
      color: color(licorice);
    }
  }
  &__count {
    display: grid;
    p {
      width: to-rem(63);
      height: to-rem(33);
      font-size: to-rem(13);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      border-radius: to-rem(4);
      color: color(licorice);
    }
  }
}
