@import "../../Assets/styles/shared-styles.scss";

.responderQuestion {
  &__heading {
    display: flex;
    font-size: to-rem(15);
    font-weight: 500;
    svg {
      margin: to-rem(0 18 0 8);
    }
  }
  &__options {
    margin: to-rem(24 0 0 43);
  }
}
