@import "../../Assets/styles/shared-styles.scss";
.wrapper {
  width: to-rem(916);
  box-shadow: 0px 0px 8px 0px #00000014;
  margin: to-rem(81) auto 0 auto;
}
.addQuestion {
  padding: to-rem(38 66 0 94);
  &__top {
    display: flex;
    justify-content: flex-end;
  }
  &__button_newQuestion {
    width: to-rem(165);
    height: to-rem(33);
    svg {
      path {
        fill: color(dodgerBule);
      }
    }
    button {
      border: to-rem(1) solid color(dodgerBule);
      color: color(dodgerBule);
      border-radius: to-rem(4);
    }
  }
  &__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: to-rem(58);
    background-color: color(AlabasterVariant);
    margin-top: to-rem(10);
    .button__wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: to-rem(66);
      .button_cancel {
        width: to-rem(83);
        height: to-rem(33);
        margin-right: to-rem(24);

        button {
          border: to-rem(1) solid color(dodgerBule);
          color: color(dodgerBule);
          border-radius: to-rem(4);
        }
      }
      .button_save {
        width: to-rem(69);
        height: to-rem(35);

        button {
          border: 0;
          background-color: color(dodgerBule);
          border-radius: to-rem(4);
          color: color(White);
        }
      }
    }
  }

  &__panels {
    hr {
      margin: 2rem auto;
      border: 0px;
      height: 0.1rem;
      background-color: rgba(176, 186, 201, 0.28);
    }
  }
}
