@import "../../Assets/styles/shared-styles.scss";
.main {
  width: 100%;
  height: 100%;
  padding: to-rem(100);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
  }
}
