@import "../../Assets/styles/shared-styles.scss";

.option {
  display: flex;
  align-items: center;
  &__checkbox {
    width: to-rem(18);
    height: to-rem(18);
    border-radius: to-rem(2);
    border: to-rem(1) solid color(dodgerBule);
  }
  input[type="text"] {
    border-left: to-rem(0);
    border-top: to-rem(0);
    border-right: to-rem(0);
    height: to-rem(20);
  }
}
