@import "../../Assets/styles/shared-styles.scss";
.wrapper {
  background-color: color(CatskillWhite);
  width: 100%;
  .navigation {
    padding: to-rem(0 170);
    // @include breakpoint-mini("xxxl") {
    //   padding: 0;
    // }
    max-width: to-rem(1440);
    margin: 0 auto;
    height: to-rem(80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      display: flex;
      align-items: center;
      h1 {
        font-size: to-rem(24);
        margin-left: to-rem(10);
        color: color(licorice);
      }
    }
    &__userInfo {
      display: flex;
      align-items: center;
      color: color(licorice);
      position: relative;
      border-left: to-rem(1) solid color(Platinum);
      p {
        font-size: to-rem(14);
        font-weight: 700;
        margin-right: to-rem(14);
        padding-left: to-rem(15);
      }
      .iconWrapper {
        width: to-rem(44);
        height: to-rem(44);
        border-radius: 50%;
        border: to-rem(1.5) solid color(Platinum);
        position: relative;
        svg {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &_logoutButton {
        position: absolute;
        top: 120%;
        left: 40%;
        z-index: 100 !important;
      }
    }
  }
}
