@import "../../Assets/styles/shared-styles.scss";
.modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: to-rem(448);
  height: to-rem(224);
  border-radius: to-rem(3);
  background-color: color(White);
  z-index: 100;
  &__header {
    height: to-rem(60);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: color(AlabasterVariant);
    padding: to-rem(0 36 0 24);
  }
  &__mainContent {
    padding: to-rem(21 32 0 32);
    &__input {
      padding-bottom: to-rem(10);

      &__entry {
        border-bottom: 1px solid #dedede !important;
      }
    }
    label {
      color: color(licorice);
    }
    &__select {
      margin: to-rem(14 0 20 0);
      select {
        width: 100%;
        height: to-rem(45);
        border: to-rem(1) solid rgba(118, 169, 255, 0.07);
        border-radius: to-rem(5);
        option {
          color: color(licorice);
          font-size: to-rem(15);
          padding-left: to-rem(16);
        }
      }
    }
    &__button_continue {
      width: to-rem(112);
      height: to-rem(33);
      margin: 0 0 0 auto;
      button {
        background-color: color(dodgerBule);
        border-radius: to-rem(4);
        color: color(White);
        font-size: to-rem(13);
        border: to-rem(0);
      }
    }
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
