@import "../../Assets/styles/shared-styles.scss";

.surveyListAdminItem {
  position: relative;
  height: to-rem(106);
  border-bottom: to-rem(1) solid rgba(176, 186, 201, 0.28);
  display: grid;
  grid-template-columns: 25% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  padding-top: to-rem(20);
  font-size: to-rem(13);
  color: color(licorice);
  &__surveyTitle {
    p {
      padding-left: to-rem(48);
    }
  }
  &__status {
    display: flex;
    .open,
    .closed,
    .draft {
      width: to-rem(13);
      height: to-rem(13);
      border-radius: 50%;
      margin: to-rem(3 9 0 0);
    }
    .open {
      background-color: color(DarkPastelGreen);
    }
    .closed {
      background-color: color(TangerineYellow);
    }
    .draft {
      background-color: color(DarkOrange);
    }
  }
  .moreIcon {
    svg {
      cursor: pointer;
    }
  }
  &__moreActions {
    position: absolute;
    opacity: 0;
    top: 40%;
    right: 10%;
  }
}

.showMore {
  animation-name: showMore;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 50 !important;
}
.hideMore {
  animation-name: hideMore;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showMore {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideMore {
  from {
    z-index: 50;
  }
  to {
    z-index: -1;
  }
}
