@import "../../Assets/styles/shared-styles.scss";
.surveryInfoCard {
  background-color: color(White);
  width: to-rem(258);
  height: to-rem(94);
  box-shadow: 0px 0px 8px 0px #00000014;
  padding: to-rem(15 31 14 14);
  &__title {
    font-size: to-rem(13);
    color: color(BaliHai);
    margin-bottom: to-rem(15);
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .count {
      font-size: to-rem(34);
      color: color(licorice);
    }
    .open {
      background-color: color(DeepPink);
    }
    .closed {
      background-color: color(TangerineYellow);
    }
    .percentage {
      border-radius: to-rem(3);
      color: color(White);
      width: to-rem(68);
      height: to-rem(32);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      p {
        font-size: to-rem(15);
      }
    }
  }
}
// REACT_APP_API_ROUTE=https://nodetrendz-survey-app-backend.herokuapp.com/api
