@import "../../Assets/styles/shared-styles.scss";

.overViewboardResponder {
  max-width: to-rem(1440);
  margin: to-rem(72) auto 0 auto;
  padding: to-rem(0 168);
  @include breakpoint-mini("xxxl") {
    padding: to-rem(0);
  }
}
