@import "../../Assets/styles/shared-styles.scss";

.analyticsCard {
  min-height: to-rem(400);
  box-shadow: 0px 0px 8px 0px #00000014;
  margin: 0 auto;
  &__heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: to-rem(19 94 16 94);
    border-bottom:  2px solid color(Solitude);
    h1 {
      font-size: to-rem(20);
      font-weight: 400;
    }
  }
  &__select {
    select {
      border: to-rem(1) solid color(chromiumBlue);
      border-radius: to-rem(4);
      padding: to-rem(10 16);
      color: color(chromiumBlue);
      font-size: to-rem(12);
    }
  }
}
