// label {
//   // color: color(Black);
//   display: block;
//   font-size: to-rem(16);
// }

input[type="tel"],
input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
  border: to-rem(1) solid rgba(118, 169, 255, 0.07);
  border-radius: to-rem(5);
  margin-top: to-rem(10);
  outline: 0;
  padding: 0 to-rem(15);
  width: 100%;

  &::placeholder {
    // color: color(LightGrey);
  }

  &:focus {
    // border-color: color(Black);
    font-size: to-rem(13);
  }

  &:invalid {
    box-shadow: none;
  }
}

input[type="tel"],
input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
  height: to-rem(48);
}
select {
  // border: solid to-rem(1) #ededed;
  // border-radius: to-rem(5);
  // width: 100%;
  // height: auto;
  -webkit-appearance: none;
  appearance: none;
  &::placeholder {
  }
}
