@import "../../Assets/styles/shared-styles.scss";
.surveyListAdmin {
  width: to-rem(1104);
  box-shadow: 0px 0px 8px 0px #00000014;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: to-rem(74);
    padding: to-rem(0 32);
    h1 {
      font-size: to-rem(20);
      color: color(licorice);
      font-weight: 400;
    }
    &_select {
      position: relative;
      width: to-rem(80);
      height: to-rem(35);
      select {
        width: 100%;
        height: 100%;
        border: to-rem(1) solid color(BaliHai);
        font-size: to-rem(12);
        color: color(BaliHai);
        padding-left: to-rem(15);
      }
      .pointer_down {
        position: absolute;
        right: 10%;
        top: 50%;
      }
    }
  }
  &__mainContent__header {
    width: 100%;
    height: to-rem(56);
    background-color: color(Solitude);
    align-items: center;
    display: grid;
    grid-template-columns: 25% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    p {
      font-size: to-rem(15);
      font-weight: 500;
    }
    p:first-child {
      padding-left: to-rem(48);
    }
  }
}
