@import "../../Assets/styles/shared-styles.scss";
.overViewboard {
  max-width: to-rem(1440);
  margin: 0 auto;
  padding: to-rem(0 168);
  // @include breakpoint-mini("xxxl") {
  //   padding: 0;
  // }
  &__buttonWrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__button_createSurvey {
    width: to-rem(142);
    height: to-rem(33);
    margin: to-rem(48 0 35 0);
    button {
      border: to-rem(0);
      background-color: color(dodgerBule);
      color: color(white);
      border-radius: to-rem(4);
    }
  }
  &__surveyInfo {
    display: flex;
    justify-content: space-between;
  }
  &__mainContent {
    .noSurvey {
      position: relative;
      box-shadow: 0px 0px 8px 0px #00000014;
      height: to-rem(510);
      width: 100%;
      margin-top: to-rem(40);
      &__info {
        max-width: to-rem(297);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        svg {
          position: absolute;
          top: 0%;
          left: 50%;
          transform: translate(-70%, -70%);
        }
        p {
          margin-top: to-rem(40);
          color: color(Nobel);
        }
      }
    }
    .surveyList {
      margin-top: to-rem(40);
    }
  }
}
