@import "../../Assets/styles/shared-styles.scss";

.question {
  &__input {
    margin-bottom: to-rem(24);
  }
  &__options {
    &_addOptionsBtn {
      width: to-rem(114);
      display: flex;
      justify-content: space-between;
      margin-bottom: to-rem(34);
      svg {
        path {
          fill: color(dodgerBule);
        }
      }
      button {
        border: 0;
        background-color: color(White);
        color: color(dodgerBule);
      }
    }
  }
}
