@import "../../Assets/styles/shared-styles.scss";
.mainWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .right {
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.wrapper {
  background-color: color(Grey90);
  position: relative;
  height: 100vh;
  .signUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: color(White);
    width: to-rem(448);
    padding: to-rem(57 44);
    position: relative;
    &__logo {
      position: absolute;
      top: -7%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__header {
      h1 {
        font-size: to-rem(34);
        font-weight: 300;
        color: color(licorice);
      }
      p {
        font-size: to-rem(15);
        color: color(emperor);
      }
    }
    &__header {
      h1 {
        font-size: to-rem(34);
        font-weight: 300;
        color: color(licorice);
      }
      p {
        font-size: to-rem(15);
        color: color(emperor);
      }
    }
    &__form {
      margin-top: to-rem(47);
      &_input {
        margin-bottom: to-rem(21s);
        label {
          color: color(emperor);
          text-transform: uppercase;
          font-size: to-rem(12);
          font-weight: 500;
        }
      }
      &_button {
        height: to-rem(50);
        margin-top: to-rem(7);
        button {
          background-color: color((dodgerBule));
          border: 0px;
          border-radius: to-rem(4);
          font-size: to-rem(15);
          font-weight: 500;
          color: color(White);
        }
      }
      .label__heading {
        display: flex;
        justify-content: space-between;
        a {
          color: color(dodgerBule);
        }
      }
    }
    .signIn__prompt {
      text-align: center;
      font-size: to-rem(15);
      font-weight: 500;
      color: color(emperor);
      margin-top: to-rem(25);
      a {
        color: color(dodgerBule);
      }
    }
  }
}
