@import "../../Assets/styles/shared-styles.scss";

.responderSurveyItem {
  padding: to-rem(13 0);
  height: to-rem(90);
  display: grid;
  align-items: center;
  grid-template-columns: 60% 20% 20%;
  border: to-rem(1) solid rgba(176, 186, 201, 0.2);
  margin: to-rem(8 0);
  &_text {
    padding-left: to-rem(39);
    h1 {
      font-size: to-rem(16);
      font-weight: 400;
      margin-bottom: to-rem(10);
    }
    p {
      font-size: to-rem(13);
      color: color(licorice);
    }
  }
  &__status {
    border-right: to-rem(1) solid rgba(176, 186, 201, 0.2);
    border-left: to-rem(1) solid rgba(176, 186, 201, 0.2);
    p {
      width: to-rem(63);
      height: to-rem(33);
      font-size: to-rem(13);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      border-radius: to-rem(4);
    }
    .open {
      color: color(DarkPastelGreen);
      background-color: rgba(0, 174, 38, 0.1);
    }
    .close {
      color: #FFCA0E !important;
      background-color: rgba(255, 202, 14, 0.1);
    }
  }
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
