@import "../../Assets/styles/shared-styles.scss";

.responderOption {
  display: flex;
  margin-bottom: to-rem(25);
  .checkbox {
    margin-right: to-rem(11);
  }
  label {
    font-weight: 400;
    color: color(licorice);
  }
}
